<form class="actor-sheet {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64" />
        <h1 class="charname">
            <input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'Name' }}" />
        </h1>
    </header>

    <div class="flex-casualties">
        <div class="flex-item">
            <table>
                <tr>
                    <td>
                        {{ localize "redmarkets.vector.murderModifier" }}
                    </td>
                    <td>
                        <input class="skill-partial" name="data.murderModifier" type="text"
                            value="{{data.data.murderModifier}}" data-dtype="Number" />
                    </td>
                </tr>
            </table>
        </div>
        <div class="flex-item">
            <a class="initiative-roll">
                {{ localize "redmarkets.initiative.roll" }} <i class="fas fa-dice"></i>
            </a>
        </div>
        <div class="flex-item">
            {{> "systems/red-markets/templates/partials/damage.hbs" actor=actor hitLocations=config.damage}}
        </div>
    </div>
</form>